---
layout: default
---
<div class="page-post">

	<header class="post__header header--single">
		
		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle subtitle--light">{{ page.subtitle }}</h2>
		</div>

	</header>

	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</article>

			<div class="just-comments" 
				data-apikey="1cbbf0c9-dfad-47c3-9198-7d3a03e213e2" 
				data-recaptcha="true">
			</div>

		</div>

	</section>

</div>